html{
    font-family: 'Poppins', sans-serif;
}
:root{
    --main-color:#28be97;
    --seconde-color:#22a17f;
    --text-color:#777;
    --bg-color:#e7f7f6;
    --outer-shadow: 3px 3px 3px #d0d0d0, -3px -3px 3px #f8f8f8;
    --outer-shadow-0: 0 0 0 #d0d0d0, 0 0 0 #f8f8f8;
    --inner-shadow: inset 3px 3px 3px #d0d0d0, inset -3px -3px 3px #f8f8f8;
    --inner-shadow-0: inset 0 0 0 #d0d0d0, inset 0 0 0 #f8f8f8;
}

/* Nav-bar Start */
.nav-bar .navbar-light .navbar-nav .active>.nav-link{
    color: var(--main-color);
}
.nav-bar .navbar-light .navbar-nav .nav-link:hover{
    color: var(--seconde-color);
}
.nav-bar .btn-success{
    background-color: var(--main-color);
}
.nav-bar .btn-success:hover{
    background-color: var(--seconde-color);
}
.nav-bar .navbar-light .navbar-toggler{
    padding: 10px;
    border-radius: 50%;
}
/* Nav-bar End */



/* Header Start */
.landing{
    margin-top: 50px;
}
.landing .animation-effect{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}
.landing .animation-effect .effect-1{
    position: absolute;
    top: 90%;
    left: 90%;
    width: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    animation: upToDown  linear 3s infinite alternate;
}
@keyframes upToDown {
    0%   {left:90%; top:90%;}
    100% {left:90%; top:94%;}
}
.landing .animation-effect .effect-2{
    position: absolute;
    top: 80%;
    left: 40%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #22a17f;
    animation: scaleTogel  linear 3s infinite alternate;
}
@keyframes scaleTogel {
    0%   {}
    50%  {scale: 1;}
    100% {scale: 1.6;}
}
.landing .animation-effect .effect-1 div{
    margin: 2px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: var(--main-color);
}

.landing .landing-text  .section-header{
    font-size: 45px;
}
.landing .landing-text  .section-header span{
    font-weight: 600;
}
.landing .landing-text  .section-body p{
    font-size: 20px;
    color:var(--text-color);
}
.landing .landing-text  .section-action button{
    background-color: var(--main-color);
}
.landing .landing-text  .section-action button:hover{
    background-color: var(--seconde-color);
}

.landing .landing-image{
    position: relative;
    margin-left: 50px;
}

.landing .landing-image .box-lift{
    background-color: white;
    padding: 10px;
    position: absolute;
    top: 20%;
    left: -10%;
    height: 70px;
    width: 170px;
    border-radius: 5px;
    box-shadow: var(--outer-shadow);
    z-index: 100;
}
.landing .landing-image .box-lift .media .icon{
    background-color: var(--bg-color);
    border-radius: 50%;
    margin-right: 5px;
    height: 40px;
    width: 40px;
    color: var(--main-color);
    line-height: 40px;
    text-align: center;
}
.landing .landing-image .box-lift .media .media-body p {
    font-size: 13px;
    color: var(--text-color);
    margin-top: -10px;
}
.landing .landing-image .circle-effect{
    position: absolute;
    top: 50%;
    left: 36%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 400px;
    background-color: var(--main-color);
    border-radius: 50%;
    z-index: -1;
}
.landing .landing-image .box-rigth{
    background-color: white;
    padding: 10px;
    position: absolute;
    top: 70%;
    left: 60%;
    height: 70px;
    width: 170px;
    border-radius: 5px;
    box-shadow: var(--outer-shadow);
    z-index: 100;
}
.landing .landing-image .box-rigth p{
    font-size: 13px;
}
.landing .landing-image .box-rigth p .icon{
    font-size: 14px;
    color: var(--main-color);
}



/* Screen Extra large */
@media (max-width: 1200px) {
    .landing .landing-image .circle-effect {
        left: 45%;
    }
}

/* Screen Large */
@media (max-width: 992px) {
    .landing .landing-image .circle-effect {
        left: 29%;
    }
}

/* Screen Medium */
@media (max-width: 768px) {
    .landing .landing-image .circle-effect {
        left: 37%;
    }
}

/* Screen Small */
@media (max-width: 575px) {
    .landing .landing-image .circle-effect {
        left: 42%;
    }
}


/* Header End */