html{
    font-family: 'Poppins', sans-serif;
}
:root{
    --main-color:#28be97;
    --seconde-color:#22a17f;
    --text-color:#777;
    --bg-color:#e7f7f6;
    --outer-shadow: 3px 3px 3px #d0d0d0, -3px -3px 3px #f8f8f8;
    --outer-shadow-0: 0 0 0 #d0d0d0, 0 0 0 #f8f8f8;
    --inner-shadow: inset 3px 3px 3px #d0d0d0, inset -3px -3px 3px #f8f8f8;
    --inner-shadow-0: inset 0 0 0 #d0d0d0, inset 0 0 0 #f8f8f8;
}

/* Nav-bar Start */
.nav-bar .navbar-light .navbar-nav .active>.nav-link{
    color: var(--main-color);
}
.nav-bar .navbar-light .navbar-nav .nav-link:hover{
    color: var(--seconde-color);
}
.nav-bar .btn-success{
    background-color: var(--main-color);
}
.nav-bar .btn-success:hover{
    background-color: var(--seconde-color);
}
.nav-bar .navbar-light .navbar-toggler{
    padding: 10px;
    border-radius: 50%;
}
/* Nav-bar End */

/* Header Start */
.landing{
    margin-top: 50px;
}
.landing .landing-text  .section-header{
    font-size: 45px;
}
.landing .landing-text  .section-header span{
    font-weight: 600;
}
.landing .landing-text  .section-body p{
    font-size: 20px;
    color:var(--text-color);
}
.landing .landing-text  .section-action button{
    background-color: var(--main-color);
}
.landing .landing-text  .section-action button:hover{
    background-color: var(--seconde-color);
}
.landing .landing-image{
    position: relative;
    margin-left: 50px;
}
.landing .landing-image .box-lift{
    background-color: white;
    padding: 10px;
    position: absolute;
    top: 20%;
    left: -10%;
    height: 70px;
    width: 170px;
    border-radius: 5px;
    box-shadow: var(--outer-shadow);
    z-index: 100;
}
.landing .landing-image .box-lift .media .icon{
    background-color: var(--bg-color);
    border-radius: 50%;
    margin-right: 5px;
    height: 40px;
    width: 40px;
    color: var(--main-color);
    line-height: 40px;
    text-align: center;
}
.landing .landing-image .box-lift .media .media-body p {
    font-size: 13px;
    color: var(--text-color);
    margin-top: -10px;
}

.landing .landing-image .box-rigth{
    background-color: white;
    padding: 10px;
    position: absolute;
    top: 70%;
    left: 60%;
    height: 70px;
    width: 170px;
    border-radius: 5px;
    box-shadow: var(--outer-shadow);
    z-index: 100;
}
.landing .landing-image .box-rigth p{
    font-size: 13px;
}
.landing .landing-image .box-rigth p .icon{
    font-size: 14px;
    color: var(--main-color);
}


/* Header End */